<?xml version="1.0" encoding="utf-8" ?> 
<configuration >
  <appSettings >
    <!-- Имя пользователя для авторизации на сайте CDDIS -->
    <add key = "CDDISWebsiteUsername" value = "egor0665" />
    <!-- Пароль для авторизации на сайте CDDIS -->
    <add key = "CDDISWebsitePassword" value = "ThatsMyNewPassword19" />
    <!-- Параметр автозапуска программы true = Автозапуск false = Интерфейс -->
    <add key = "Autorun" value = "false" />
    <!-- При Autorun=true скачивать данные с CDDIS -->
    <add key = "AutorunCDDIS" value = "true" />
    <!-- При Autorun=true скачивать данные с IERS -->
    <add key = "AutorunIERS" value = "false" />
    <!-- Количество попыток входа в личный кабинет -->
    <add key = "CDDISDefTriesToConnect" value = "20" />
    <!-- Путь к файлу сохранения -->
    <add key = "CDDISSavePath" value = "C:\TSNIIMASH" />
    <!-- Имя файла сохранения -->
    <add key = "CDDISFileName" value = "mark3.out" />
    <!-- Путь к файлу сохранения -->
    <add key = "IERSSavePath" value = "C:\TSNIIMASH" />
    <!-- Имя файла сохранения -->
    <add key = "IERSFileName" value = "iers.out" />
    <!-- Путь к IERS данным -->
    <add key = "IERSLink" value = "https://datacenter.iers.org/data/latestVersion/13_FINALS.DAILY_IAU2000_V2013_0113.txt" />
  
  </appSettings >
</configuration >